body {
    background-color: #ecebeb !important;
}

/* NAVBAR */

.navbar {
    padding: 10px;
}
.navbar-nav a {
    padding-right: 10px;
}
.nav-link {
    font-size: 20px !important;
    text-shadow: 1px 1px 1px;
}

/* SIGN UP */

#signup-image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}
.signup {
    margin-top: 100px;
    margin-bottom: 50px;
}
.signup h2 {
    padding-bottom: 15px;
}
.signup h3 {
    padding-bottom: 20px;
}

/* BOOKING */
#booking-image {
    width: 100%;
    height: 55vh;
}
.booking {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* PROFILE */

.profile {
    margin-top: 100px;
    margin-bottom: 50px;
}
.card{
    margin-bottom: 5px;
}
.custom-checkbox {
    margin-left: 10px;
    padding: 5px;
}
/* CAROUSEL */

.carousel-item {
    width: 100%;
    height: 80vh;
}

/* JUMBOTRON */

.jumbotron {
    margin-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

/* ABOUT */
#about {
    padding: 5px;
}
#about h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px;
}
#about h3 {
    text-shadow: 0px 0px 1px;
}
#about a {
    margin-top: 20px;
    width: 180px;
    margin-bottom: 10px;
}

/* ABOUT US PAGE */
#aboutus-image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

/* FACILITIES PAGE */
#facilities-image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

/* FOOTER */
.footerStyle {
    background-color: #4a4a4a;
    color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}